<template>
  <div>
    <footer class="footerSinkWeb" style="height: 50px">
      <b-container
        class="bv-example-row bv-example-row-flex-cols"
        style="height: 50px"
      >
        <b-row align-v="center" class="p-1">
          <b-col class="text-center">Sink Web</b-col>
          <b-col></b-col>
          <b-col>
            <div>
              <b-icon icon="facebook" class="pr-5"></b-icon>
              <b-icon icon="twitter" class="pr-5"></b-icon>
              <b-icon icon="instagram"></b-icon>
            </div>
          </b-col>
        </b-row>
        <b-row>
          <b-col style="font-size:0.5em;" class="text-center">
            2021 | ©copyright Grupo 5
          </b-col>
        </b-row>
      </b-container>
    </footer>
  </div>
</template>

<script>
export default {};
</script>

<style>
.footerSinkWeb {
  background: #c4c4c4;
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: 50px;
}
</style>
