<template>
  <div>
    <header>
      <b-navbar
        toggleable="lg"
        fixed="top"
        class="p-3 mb-2 gradiant-navbar"
        variant="white"
      >
        <b-navbar-brand class="gradiant-text">
          Galería Sink
        </b-navbar-brand>
        <b-navbar-toggle target="nav-collapse">
          <template #default="{ expanded }">
            <b-icon v-if="expanded" icon="chevron-bar-up"></b-icon>
            <b-icon v-else icon="chevron-bar-down"></b-icon> </template
        ></b-navbar-toggle>
        <b-collapse id="nav-collapse" is-nav>
          <b-navbar-nav class="ml-auto">
            <b-nav-item
              to="/inicio"
              exact
              exact-active-class="active"
              class="gradiant-navbar-items"
            >
              Inicio
            </b-nav-item>
            <b-nav-item
              tag="a"
              to="/exposiciones"
              exact
              exact-active-class="active"
              class="gradiant-navbar-items"
            >
              Exposiciones
            </b-nav-item>
            <b-nav-item
              to="/obras"
              exact
              exact-active-class="active"
              class="gradiant-navbar-items"
            >
              Obras en Galería
            </b-nav-item>
            <b-nav-item
              to="/artistas"
              exact
              exact-active-class="active"
              class="gradiant-navbar-items"
            >
              Artistas
            </b-nav-item>
            <b-nav-item
              to="/contacto"
              exact
              exact-active-class="active"
              class="gradiant-navbar-items"
            >
              Contactenos
            </b-nav-item>
          </b-navbar-nav>
        </b-collapse>
      </b-navbar>
    </header>
    <slot />
  </div>
</template>

<script>
export default {};
</script>

<style>
.gradiant-navbar {
  height: 50px;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.002) 50%,
    #e2dfdf 100%
  );
}

.gradiant-text {
  font-family: Roboto;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.gradiant-navbar-items {
  font-family: Roboto;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
</style>
