<template>
  <div>
    <b-overlay
      spinner-type="grow"
      spinner-small
      :show="show"
      rounded="sm"
      style="min-height: 333px"
    >
      <b-link
        :to="{ path: '/artistas' }"
        style="position: absolute;color: black; margin-top: -29px"
      >
        <b-icon icon="arrow-left"></b-icon> Volver
      </b-link> 
      <b-row>
        <b-col>
          <b-carousel
            id="carousel-1"
            v-model="slide"
            :interval="5000"
            img-width="1024"
            img-height="675"
            style="text-shadow: 1px 1px 2px #333;"
            @sliding-start="onSlideStart"
            @sliding-end="onSlideEnd"
          >
            <b-carousel-slide :img-src="artista.imagen"></b-carousel-slide>
          </b-carousel>
        </b-col>
        <b-col>
          <b-card
            border-variant="white"
            header-border-variant="white"
            style="height: 341px"
          >
            <b-card-title>
              {{ artista.primerNombre }} {{ artista.segundoNombre }}
            </b-card-title>
            <b-card-sub-title>
              {{ artista.medioHabitual }} - {{ artista.estiloHabitual }} -
              {{ artista.tipoHabitual }}
            </b-card-sub-title>
            <b-card-text style="text-align: justify;">
              {{ artista.bibliografia }}
            </b-card-text>
            <template #footer>
              <small class="text-muted">{{ artista.calle }}</small>
            </template>
          </b-card>
        </b-col>
      </b-row>
    </b-overlay>
  </div>
</template>

<script>
import axios from "axios";

export default {
  data() {
    return {
      show: true,
      slide: 0,
      sliding: null,
      artista: {
        id: "",
        primerNombre: "",
        segundoNombre: "",
        bibliografia: "",
        imagen: "",
        estiloHabitual: "",
        medioHabitual: "",
        tipoHabitual: "",
        calle: "",
      },
      artistaWithImagen: [],
    };
  },
  created() {
    axios
      .get(
        "https://tranquil-dusk-13314.herokuapp.com/artistas/" +
          this.$route.params.id +
          "/"
      )
      .then((response) => {
        this.artista = response.data;
        axios
          .get(
            "https://tranquil-dusk-13314.herokuapp.com/ImagenesArtistas/" +
              this.artista.imagenArtistaid +
              "/"
          )
          .then((resultado) => {
            this.artista = {
              id: response.data.ArtistaId,
              primerNombre: response.data.primerNombre,
              segundoNombre: response.data.segundoNombre,
              bibliografia: response.data.bibliografia,
              imagen: resultado.data.imagen1,
              estiloHabitual: response.data.estiloHabitual,
              medioHabitual: response.data.medioHabitual,
              tipoHabitual: response.data.tipoHabitual,
              calle: response.data.calle,
            };
          });
      })
      .catch((err) => console.error(err))
      .finally(() => {
        this.show = false;
      });
  },
  methods: {
    onSlideStart() {
      this.sliding = true;
    },
    onSlideEnd() {
      this.sliding = false;
    },
  },
};
</script>

<style>
.carousel-item img {
  height: 341px !important ;
}
</style>
