<template>
  <div class="pt-2 pl-2">
    <b-overlay :show="show" rounded="sm" style="min-height: 333px">
      <b-row class="mr-0 ml-0 justify-content-center ">
        <b-col
          cols="3"
          v-for="(artista, index) in obrasWithImagen"
          :key="index"
        >
          <b-card
            :title="`${artista.primerNombre} ${artista.segundoNombre}`"
            :img-src="artista.imagen"
            img-alt="Image"
            img-top
            style="max-width: 18rem;"
            img-height="176px"
            class="shadow-lg mb-3 bg-white rounded"
            @click="
              $router.push({ name: 'Artista', params: { id: artista.id } })
            "
          >
            <b-card-text style="heigth: 10px; " class="publication-description">
              {{ artista.bibliografia }} {{}}
            </b-card-text>
          </b-card>
        </b-col>
      </b-row></b-overlay
    >
  </div>
</template>

<script>
import axios from "axios";

export default {
  data() {
    return {
      show: true,
      artistas: {
        id: "",
        primerNombre: "",
        segundoNombre: "",
        imagen: "",
        bibliografia: "",
      },
      example: [],
      artistasLista: [],
      obrasWithImagen: [],
    };
  },
  methods: {
    getArtistas() {
      axios
        .get("https://tranquil-dusk-13314.herokuapp.com/artistas/")
        .then((result) => {
          this.artistasLista = result.data;
          this.artistasLista.forEach((elem) => {
            if (elem.imagenArtistaid) {
              axios
                .get(
                  "https://tranquil-dusk-13314.herokuapp.com/ImagenesArtistas/" +
                    elem.imagenArtistaid
                )
                .then((resultado) => {
                  this.artistas = {
                    id: elem.ArtistaId,
                    primerNombre: elem.primerNombre,
                    segundoNombre: elem.segundoNombre,
                    bibliografia: elem.bibliografia,
                    imagen: resultado.data.imagen1,
                  };
                  this.obrasWithImagen.push(this.artistas);
                });
            }
          });
        })
        .catch((err) => console.log(err))
        .finally(() => (this.show = false));
    },
  },
  created() {
    this.getArtistas();
  },
};
</script>

<style>
.publication-description {
  display: block;
  display: -webkit-box;
  height: 1.9rem * 1.2 * 3;
  font-size: 0.8rem;
  line-height: 1.5;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: justify;
}
</style>
