<template>
  <div>
    <b-form class="contact-form" @submit.prevent="sendEmail">
      <div style="max-height: 341px">
        <b-row class="ml-5 mr-5">
          <b-col cols="6">
            <b-form-group
              class="mb-3"
              label-cols-sm="4"
              label-cols-lg="4"
              label="Ingrese su nombre"
            >
              <b-form-input name="nombre"></b-form-input>
            </b-form-group>

            <b-form-group
              class="mb-3"
              label-cols-sm="4"
              label-cols-lg="4"
              label="Asunto"
            >
              <b-form-input name="asunto"></b-form-input>
            </b-form-group>
            <b-form-group
              class="mb-3"
              label-cols-sm="4"
              label-cols-lg="4"
              label="Teléfono"
            >
              <b-form-input
                name="telefono"
                type="tel"
                required
                maxlength="10"
                onkeypress="return event.charCode >= 48 && event.charCode <= 57"
              ></b-form-input>
            </b-form-group>
            <b-form-group
              class="mb-3"
              label-cols-sm="6"
              label-cols-lg="6"
              label="Ingrese su correo eléctronico"
            >
              <b-form-input type="email" name="email" required></b-form-input>
            </b-form-group>
          </b-col>
          <b-col>
            <b-container style="height:220px">
              <b-row
                style="height:220px"
                align-v="center"
                class="bv-example-row bv-example-row-flex-cols text-center"
              >
                <b-col>
                  <b-img
                    style="height: 140px"
                    :src="require('@/assets/img-web/inicio-sink1.svg')"
                  ></b-img>
                </b-col>
              </b-row>
            </b-container>
          </b-col>
        </b-row>
        <b-row class="ml-5 mr-5">
          <b-col>
            <b-form-group class="ml-6 mr-5" label="Mensaje">
              <b-form-textarea name="message"></b-form-textarea>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col class="ml-5 mr-5 text-center">
            <b-button variant="success" type="submit">
              Enviar información</b-button
            >
          </b-col>
        </b-row>
      </div>
    </b-form>
  </div>
</template>

<script>
import emailjs from "emailjs-com";
export default {
  methods: {
    sendEmail: (e) => {
      emailjs
        .sendForm(
          "service_x4semqo",
          "template_aecti85",
          e.target,
          "user_EopHE2B01dctYoDVTjtDL"
        )
        .then((result) => {
          console.log("Éxito!", result.status, result.text);
          e.target.reset();
        })
        .catch((error) => {
          console.log("Error...", error);
        });
    },
  },
};
</script>

<style></style>
