<template>
  <div>
    <b-overlay :show="show" rounded="sm" style="min-height: 341px">
      <b-link
        to="/exposiciones"
        style="position: absolute; color: black; margin-top: -29px"
      >
        <b-icon icon="arrow-left"></b-icon> Volver
      </b-link>
      <b-row class="mr-0 ml-0 justify-content-center ">
        <b-col cols="3" v-for="(obras, index) in obrasListado" :key="index">
          <b-card
            :title="obras.tituloObra"
            :img-src="obras.imagen"
            img-alt="Imagen"
            img-top
            style="max-width: 18rem;"
            img-height="152px"
            class="shadow-lg mb-3 bg-white rounded"
            @click="
              $router.push({
                name: 'Obras',
                params: { id: obras.obraId, idExpo: id },
              })
            "
          >
            <b-card-text>
              {{ obras.tamañoTrabajo }}
            </b-card-text>
          </b-card>
        </b-col>
      </b-row>
    </b-overlay>
  </div>
</template>

<script>
import axios from "axios";

export default {
  data() {
    return {
      show: true,
      slide: 0,
      sliding: null,
      obrasListado: [],
      obra: {},
      imagenesObra: [],
      id: "",
    };
  },
  created() {
    this.id = this.$route.params.id;
    axios
      .get(
        "https://tranquil-dusk-13314.herokuapp.com/ExposicionDetalles/?search=" +
          this.$route.params.id
      )
      .then((response) => {
        return response.data;
      })
      .then((data) => {
        data.forEach((element) => {
          axios
            .get(
              "https://tranquil-dusk-13314.herokuapp.com/Obras/" +
                element.obraid
            )
            .then((response) => {
              return response.data;
            })
            .then((responseImg) => {
              axios
                .get(
                  "https://tranquil-dusk-13314.herokuapp.com/Imagenes/" +
                    responseImg.imagenid
                )
                .then((elem) => {
                  this.obra = {
                    obraId: responseImg.obraId,
                    tituloObra: responseImg.tituloObra,
                    tamañoTrabajo: responseImg.tamañoTrabajo,
                    estado: responseImg.estado,
                    imagen: elem.data.imagen1,
                  };
                  this.obrasListado.push(this.obra);
                });
            });
        });
      })
      .catch((err) => console.error("error", err))
      .finally(() => (this.show = false));
  },
  methods: {
    onSlideStart() {
      this.sliding = true;
    },
    onSlideEnd() {
      this.sliding = false;
    },
  },
};
</script>

<style>
.carousel-item img {
  height: 341px !important ;
}
</style>
