<template>
  <div class="pt-2 pl-2">
    <b-overlay :show="show" rounded="sm" style="min-height: 333px">
      <b-row class="mr-0 ml-0 justify-content-center">
        <b-col
          cols="4"
          v-for="(exposiciones, index) in exposicionWithImagen"
          :key="index"
        >
          <b-card
            style="max-width: 20rem; max-height: 400px !important;"
            :class="
              `shadow-lg mb-3 bg-white rounded ${
                exposiciones.fechaCierre < fechaActual ? 'classh' : ''
              }`
            "
            @click="
              exposiciones.fechaCierre < fechaActual
                ? ''
                : $router.push({
                    name: 'ObrasExposicion',
                    params: { id: exposiciones.exposicionId },
                  })
            "
            no-body
          >
            <b-card-img
              alt="Image"
              :src="exposiciones.imagen"
              style="max-height: 250px"
            >
            </b-card-img>
            <b-card-body>
              <b-card-title>{{ exposiciones.titulo }}</b-card-title>
            </b-card-body>
            <template #footer>
              <small class="text-muted">
                Fecha de apertura - {{ exposiciones.fechaApertura }} <br />
                Fecha de cierre - {{ exposiciones.fechaCierre }}
              </small>
            </template>
          </b-card>
        </b-col>
      </b-row></b-overlay
    >
  </div>
</template>

<script>
import axios from "axios";

export default {
  data() {
    return {
      show: true,
      exposicion: {
        exposicionId: "",
        fechaCierre: null,
        titulo: "",
        fechaApertura: null,
        descripcion: "",
        artistaDestacado: null,
        imagen: "",
      },
      fechaActual: "",
      exposicionesListado: [],
      exposicionWithImagen: [],
    };
  },
  created() {
    axios
      .get("https://tranquil-dusk-13314.herokuapp.com/Exposiciones/")
      .then((response) => {
        return response.data;
      })
      .then((data) => {
        data.forEach((element) => {
          axios
            .get(
              "https://tranquil-dusk-13314.herokuapp.com/ExposicionDetalles/?search=" +
                element.exposicionId
            )
            .then((resp) => {
              if (resp.data != 0) {
                let obra = resp.data;
                axios
                  .get(
                    "https://tranquil-dusk-13314.herokuapp.com/Obras/" +
                      obra[0].obraid
                  )
                  .then((res) => {
                    axios
                      .get(
                        "https://tranquil-dusk-13314.herokuapp.com/Imagenes/" +
                          res.data.imagenid
                      )
                      .then((data) => {
                        let date = new Date(Date.now());
                        this.fechaActual = `${date.getFullYear()}-0${date.getMonth() +
                          1}-${date.getDate()}`;
                        this.exposicion = {
                          exposicionId: element.exposicionId,
                          fechaCierre: element.fechaCierre,
                          titulo: element.titulo,
                          fechaApertura: element.fechaApertura,
                          descripcion: element.descripcion,
                          artistaDestacado: element.artistaDestacado,
                          imagen: data.data.imagen1,
                        };
                        this.exposicionWithImagen.push(this.exposicion);
                      });
                  });
              }
            });
        });
      })
      .finally(() => (this.show = false));
  },
};
</script>

<style>
.classh {
  background-color: white;
}
.classh:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(68, 67, 67, 0.6);
}
</style>
