<template>
  <div>
    <div class="div-class">
      <div class="div-class1">
        <div class="div-class2">
          <b-row class="row-class text-center">
            <b-col>
              <b-img
                :src="require('@/assets/img-web/inicio-sink1.svg')"
                data-wow-delay=".3s"
                style=""
                width="600"
                height="200"
              ></b-img>
            </b-col>
          </b-row>
        </div>
      </div>
    </div>
    <b-row class="justify-content-center">
      <b-col cols="3" v-for="(artista, index) in artistasLista" :key="index">
        <b-card
          img-alt="Image"
          img-top
          :img-src="artista.imagen"
          tag="article"
          style="max-width: 18rem;"
          img-height="250px"
          class="shadow-lg mb-3 bg-white rounded"
          no-body
        >
        </b-card>
      </b-col>
    </b-row>
    <h2 class="text-desing">Artistas</h2>

    <hr class="fiveteen" />
    <b-row class="justify-content-center">
      <b-col cols="3" v-for="(obra, index) in obrasLista" :key="index">
        <b-card
          img-alt="Image"
          img-top
          :img-src="obra.imagen"
          tag="article"
          style="max-width: 18rem;"
          img-height="250px"
          class="shadow-lg mb-3 bg-white rounded"
          no-body
        >
        </b-card>
      </b-col>
    </b-row>
    <h2 class="text-desing">Obras de arte</h2>
    <hr class="fiveteen " />
  </div>
</template>

<script>
export default {
  data() {
    return {
      artistasLista: [
        {
          imagen:
            "https://upload.wikimedia.org/wikipedia/commons/9/98/Pablo_picasso_1.jpg",
          primerNombre: "Pablo ",
        },
        {
          imagen:
            "https://estaticos.muyhistoria.es/uploads/images/article/5a12f5415bafe8d9d5fa21a7/rene-magritte-c_0.jpg",
        },
        {
          imagen:
            "https://www.eldiarioexterior.com/imagenes/fotosdeldia/44988__.jpg",
        },
      ],
      obrasLista: [
        {
          imagen:
            "https://encolombia.com/wp-content/uploads/2013/06/pablo_picasso-696x522.jpg",
          tituloObra: "Obra 1",
          tamañoTrabajo: "2cm x 3cm",
        },
        {
          imagen:
            "https://aws.admagazine.com/prod/designs/v1/assets/original/69050.jpg",
          tituloObra: "Obra 2",
          tamañoTrabajo: "2cm x 3cm",
        },
        {
          imagen:
            "https://i2.wp.com/hotbook.com.mx/wp-content/uploads/2014/10/hotbook-94.jpg?resize=800%2C600&ssl=1",
          tituloObra: "Obra 3",
          tamañoTrabajo: "2cm x 3cm",
        },
      ],
    };
  },
};
</script>

<style>
.div-class {
  background-image: url("../../assets/img-web/101161.svg");
  background-size: contain;
}
.div-class1 {
  background-image: url("../../assets/img-web/Rectangle4.svg");
  background-size: contain;
  margin: 0;
}
.div-class2 {
  background-image: url("../../assets/img-web/Vector3.svg");
  background-size: cover;
  margin: 0;
}
.row-class {
  height: 480px;
}

hr {
  border: 0;
  height: 4px;
  margin-top: 20px;
  background-image: linear-gradient(to left, #fff, rgb(51, 50, 50), #fff);
  text-align: center;
}
hr:after {
  position: relative;
  top: -12px;
  display: inline-block;
  width: 36px;
  height: 24px;
  padding: 0;
  border: 2px solid rgb(85, 81, 81);
  border-radius: 24px;
  background: rgb(51, 50, 50);
  color: white;
  font-size: 12px;
  line-height: 24px;
}

.text-desing {
  text-align: center;
  font-family: "Homer Simpson UI";
  background: -webkit-linear-gradient(rgb(31, 31, 31), rgb(150, 150, 150));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: tomato;
}
</style>
