<template>
  <div class="pt-2 pl-2">
    <b-overlay :show="show" rounded="sm" style="min-height: 333px">
      <b-row class="mr-0 ml-0 justify-content-center">
        <b-col cols="3" v-for="(obras, index) in obrasListado" :key="index">
          <b-card
            :title="obras.tituloObra"
            :img-src="obras.imagen"
            img-alt="Imagen"
            img-top
            style="max-width: 18rem;"
            img-height="152px"
            class="shadow-lg mb-3 bg-white rounded"
            @click="
              $router.push({
                name: 'Obras',
                params: { id: obras.obraId, idExpo: '' },
              })
            "
          >
            <b-card-text>
              {{ obras.tamañoTrabajo }}
            </b-card-text>
          </b-card>
        </b-col>
      </b-row>
    </b-overlay>
  </div>
</template>

<script>
import axios from "axios";

export default {
  data() {
    return {
      show: true,
      obra: {
        obraId: null,
        tamañoTrabajo: "",
        estado: "",
        imagen: null,
      },
      obras: [],
      obrasListado: [],
      imagenes: [],
      obrasLista: [],
    };
  },
  methods: {
    getObras() {
      axios
        .get("https://tranquil-dusk-13314.herokuapp.com/Obras/")
        .then((result) => {
          this.obras = result.data;
          this.obras.forEach((elem) => {
            if (elem.imagenid !== null) {
              axios
                .get(
                  "https://tranquil-dusk-13314.herokuapp.com/Imagenes/" +
                    elem.imagenid
                )
                .then((resultado) => {
                  this.obra = {
                    obraId: elem.obraId,
                    tituloObra: elem.tituloObra,
                    tamañoTrabajo: elem.tamañoTrabajo,
                    estado: elem.estado,
                    imagen: resultado.data.imagen1,
                  };
                  this.obrasListado.push(this.obra);
                });
            }
          });
        })
        .finally(() => (this.show = false));
    },
  },
  created() {
    this.getObras();
  },
};
</script>

<style></style>
