<template>
  <div>
    <b-overlay :show="show" rounded="sm" style="min-height: 333px">
      <b-link
        :to="
          $route.params.idExpo != ''
            ? { name: 'ObrasExposicion', params: { id: $route.params.idExpo } }
            : { path: '/obras' }
        "
        style="position: absolute;color: black; margin-top: -29px"
      >
        <b-icon icon="arrow-left"></b-icon> Volver
      </b-link>
      <b-row>
        <b-col>
          <b-carousel
            id="carousel-1"
            v-model="slide"
            :interval="5000"
            background="#ababab"
            img-width="1024"
            img-height="675"
            style="text-shadow: 1px 1px 2px #333;"
            @sliding-start="onSlideStart"
            @sliding-end="onSlideEnd"
          >
            <div v-if="obrasLista.imagen1 != null">
              <b-carousel-slide
                img-height="675"
                :img-src="obrasLista.imagen1"
              ></b-carousel-slide>
            </div>
            <div v-if="obrasLista.imagen2 != null">
              <b-carousel-slide
                :img-src="obrasLista.imagen2"
              ></b-carousel-slide>
            </div>
            <div v-if="obrasLista.imagen3 != null">
              <b-carousel-slide
                :img-src="obrasLista.imagen3"
              ></b-carousel-slide>
            </div>
          </b-carousel>
        </b-col>
        <b-col>
          <b-card
            border-variant="white"
            header-border-variant="white"
            :title="obra.tituloObra"
            :sub-title="obra.tamañoTrabajo"
            style="height: 341px"
          >
            <b-card-text
              style="font-size: 0.9rem; text-align: justify;"
              class="publication-description"
            >
              {{ obra.descripcion }}
            </b-card-text>
            <template #footer>
              <small class="text-muted">
                {{ obra.fechaCreacion }} - {{ obra.estado }}</small
              >
            </template>
          </b-card>
        </b-col>
      </b-row>
    </b-overlay>
  </div>
</template>

<script>
import axios from "axios";

export default {
  data() {
    return {
      show: true,
      slide: 0,
      sliding: null,
      obrasLista: [],
      obra: {},
      imagenesObra: [],
    };
  },
  created() {
    axios
      .get(
        "https://tranquil-dusk-13314.herokuapp.com/Obras/" +
          this.$route.params.id +
          "/"
      )
      .then((response) => {
        this.obra = response.data;
        axios
          .get(
            "https://tranquil-dusk-13314.herokuapp.com/Imagenes/" +
              this.obra.imagenid +
              "/"
          )
          .then((response) => {
            this.obrasLista = response.data;
          });
      })
      .catch((err) => console.error("error", err))
      .finally(() => (this.show = false));
  },
  methods: {
    onSlideStart() {
      this.sliding = true;
    },
    onSlideEnd() {
      this.sliding = false;
    },
  },
};
</script>

<style>
.carousel-item img {
  height: 341px !important ;
}
.publication-description {
  display: block;
  display: -webkit-box;
  height: 1.9rem * 1.2 * 3;
  font-size: 0.8rem;
  line-height: 1.5;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: justify;
}
</style>
