<template>
  <div class="bg-gradient-success py-7">
    <Header />
    <b-container fluid style="margin-top: 80px;">
      <router-view />
    </b-container>
    <Footer />
  </div>
</template>

<script>
import Header from "@/Components/Layout/Header.vue";
import Footer from "@/Components/Layout/Footer.vue";

export default {
  components: { Header, Footer },
};
</script>

<style>
.color-fondo {
  background-color: rgb(108, 192, 192);
}
</style>
